AIM - build a model that predicts a given national based cuisine based on a group of ingredients.

In [3]:
import pandas as pd

df = pd.read_csv(r'C:\Users\muhum\Downloads\Documents\AI\cleaned_cuisines')
df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [4]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix , classification_report, precision_recall_curve
from sklearn.svm import SVC
import numpy as np

In [6]:
#divede X and y into two dataframes for training

cuisines_label_df = df['cuisine']
cuisines_label_df.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [7]:
cuisines_feature_df = df.drop(['Unnamed: 0', 'cuisine'], axis=1)
cuisines_feature_df.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [8]:
#splitting the data
X_train, X_test, y_train, y_test = train_test_split(cuisines_feature_df,cuisines_label_df, test_size = 0.3)

In [9]:
#creating a logistic regression with multi_class set to ovr and solver set to liblinear:

lr = LogisticRegression(multi_class='ovr', solver='liblinear')
model = lr.fit(X_train, np.ravel(y_train))

accuracy = model.score(X_test, y_test)
print(f'Accuracy is {accuracy}')

# NB: ravel function flattens the data when need arises

Accuracy is 0.7931609674728941

In [11]:
#testing line #50

print(f'ingredients: {X_test.iloc[50][X_test.iloc[50]!=0].keys()}')
print(f'cuisine: {y_test.iloc[50]}')

ingredients: Index(['black_pepper', 'cayenne', 'coriander', 'cumin', 'fenugreek', 'lime',
       'lime_juice', 'mango', 'pepper', 'scallion', 'scallop', 'soy_sauce',
       'turmeric', 'white_wine'],
      dtype='object')
cuisine: indian

In [13]:
#testing line #130
print(f'ingredients: {X_test.iloc[130][X_test.iloc[130]!=0].keys()}')
print(f'cuisine: {y_test.iloc[130]}')

ingredients: Index(['lettuce', 'sesame_oil', 'soy_sauce', 'vegetable_oil', 'wine'], dtype='object')
cuisine: chinese

In [17]:
#checking for accuracy of the predictions above:

test= X_test.iloc[50].values.reshape(-1, 1).T
proba = model.predict_proba(test)
classes = model.classes_
resultdf = pd.DataFrame(data=proba, columns=classes)

topPrediction = resultdf.T.sort_values(by=[0], ascending = [False])
topPrediction.head()

C:\Users\muhum\AppData\Roaming\Python\Python311\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

                 0
thai      0.554192
indian    0.430759
chinese   0.009085
japanese  0.005825
korean    0.000139

In [18]:
#Getting a more detailed report using a classification report

y_pred = model.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

     chinese       0.74      0.67      0.70       241
      indian       0.89      0.90      0.89       244
    japanese       0.72      0.78      0.74       233
      korean       0.85      0.79      0.82       230
        thai       0.78      0.83      0.80       251

    accuracy                           0.79      1199
   macro avg       0.79      0.79      0.79      1199
weighted avg       0.79      0.79      0.79      1199