In [11]:
import pandas as pd
cuisines_df = pd.read_csv('cleaned_cuisine.csv')
cuisines_df.head()

,Unnamed: 0,cuisine,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,indian,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,indian,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [12]:
y = cuisines_df.cuisine
y.head()

0    indian
1    indian
2    indian
3    indian
4    indian
Name: cuisine, dtype: object

In [13]:
X = cuisines_df.drop(['Unnamed: 0', 'cuisine'], axis =1)
X.head()

,almond,angelica,anise,anise_seed,apple,apple_brandy,apricot,armagnac,artemisia,artichoke,...,whiskey,white_bread,white_wine,whole_grain_wheat_flour,wine,wood,yam,yeast,yogurt,zucchini
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

In [14]:
#importing the necessayr libraries

from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score, precision_score, confusion_matrix,classification_report, precision_recall_curve
import numpy as np

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.3)

In [16]:
'''
LINEAR SVC CLASSIFIER
kernel is chosen to decide gow to cluster the labels.
The 'C' parammeter refers to regularization, which regulates the influence of parameters.
'Linear' kernel is chosen to leverage linear SVC
Probability is set 'True' to gather probability estimates.
random state is set to 0 to shuffle the data to get estimates.

'''

#start by creating an array of classifiers.

C = 10
#CRAETING DIFFERENT CLASSIFIERS

classifiers = {
    'Linear SVC': SVC(kernel='linear', C=C, probability=True, random_state=0),
    #applying the K-Neighbours classifier
    'KNN classifier': KNeighborsClassifier(C),
    #applying Support-Vector Machine(SVM)
    'SVC': SVC(),
    #using Ensemble Classifiers(Random Forest and AdaBoost)
    'RFST': RandomForestClassifier(n_estimators=100), #n_estimators = 100 means the RandomForestClassifier will create 100 decision trees
    'ADA': AdaBoostClassifier(n_estimators=100)
}

In [17]:
# training the models and printing out a report

n_classifiers = len(classifiers)

for index, (name, classifier) in enumerate(classifiers.items()):
    classifier.fit(X_train, np.ravel(y_train))

    y_pred = classifier.predict(X_test)
    accuracy = accuracy_score(y_test, y_pred)

    print("Accuracy (train) for %s: %0.1f%% " % (name, accuracy*100))
    print(classification_report(y_test, y_pred))

Accuracy (train) for Linear SVC: 78.9%
              precision    recall  f1-score   support

     chinese       0.71      0.73      0.72       251
      indian       0.90      0.88      0.89       236
    japanese       0.77      0.76      0.77       261
      korean       0.84      0.77      0.80       239
        thai       0.73      0.82      0.78       212

    accuracy                           0.79      1199
   macro avg       0.79      0.79      0.79      1199
weighted avg       0.79      0.79      0.79      1199

Accuracy (train) for KNN classifier: 71.6%
              precision    recall  f1-score   support

     chinese       0.72      0.67      0.70       251
      indian       0.82      0.79      0.81       236
    japanese       0.62      0.86      0.72       261
      korean       0.91      0.53      0.67       239
        thai       0.64      0.72      0.68       212

    accuracy                           0.72      1199
   macro avg       0.74      0.71      0.71      1199
weighted avg       0.74      0.72      0.72      1199

Accuracy (train) for SVC: 81.7%
              precision    recall  f1-score   support

     chinese       0.75      0.73      0.74       251
      indian       0.92      0.92      0.92       236
    japanese       0.81      0.82      0.81       261
      korean       0.87      0.79      0.83       239
        thai       0.74      0.84      0.79       212

    accuracy                           0.82      1199
   macro avg       0.82      0.82      0.82      1199
weighted avg       0.82      0.82      0.82      1199

Accuracy (train) for RFST: 82.8%
              precision    recall  f1-score   support

     chinese       0.80      0.78      0.79       251
      indian       0.92      0.90      0.91       236
    japanese       0.79      0.81      0.80       261
      korean       0.85      0.81      0.83       239
        thai       0.78      0.85      0.81       212

    accuracy                           0.83      1199
   macro avg       0.83      0.83      0.83      1199
weighted avg       0.83      0.83      0.83      1199

Accuracy (train) for ADA: 72.2%
              precision    recall  f1-score   support

     chinese       0.65      0.58      0.61       251
      indian       0.88      0.85      0.87       236
    japanese       0.70      0.64      0.67       261
      korean       0.71      0.79      0.75       239
        thai       0.67      0.77      0.72       212

    accuracy                           0.72      1199
   macro avg       0.72      0.73      0.72      1199
weighted avg       0.72      0.72      0.72      1199